<body>
  <!--Navegação-->
  <nav class="navbar">
    <!--Menu responsivo para mobile-->
    <span class="navbar-toggle" id="toggle-action">
      <mat-icon>menu</mat-icon>
    </span>

    <!--Menu responsivo para Web (Minimo 769px)-->
    <a class="logo">Logo</a>

    <!--Lista de rotas do menu-->
    <ul class="main-nav" id="desktop-menu">
      <li>
        <a href="#" class="nav-links">Contatos</a>
      </li>
      <li>
        <a href="#" class="nav-links">Usuários</a>
      </li>
      <li>
        <a href="#" class="nav-links">Logout</a>
      </li>
    </ul>
  </nav>
</body>